@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

 body {
	margin:0;
	padding: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Monoton', cursive;
	color: #ff0054;
	background: #111;
	font-size: 2.5em;
 }
